.boxes {
  @include make-box-container;
  padding-top: 4rem;
  padding-bottom: 1rem;

  @include breakpoint(medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
