.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @include breakpoint(large) {
    margin: 0;
  }

  &__item {
    display: block;
    width: flex-item-width(4, 1rem);
    text-align: center;
    margin-bottom: 1rem;

    @include breakpoint(large) {
      width: auto;
      margin-bottom: 0;
      margin-left: 4rem;
    }
  }

  &__link {
    display: block;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;

    @include breakpoint(medium) {
      font-size: 0.875rem;
    }
  }
}
