.news {
  @include make-container;
  padding-bottom: 4rem;

  @include breakpoint(large) {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    display: block;
    width: 100%;
    margin-bottom: 2.5rem;

    @include breakpoint(large) {
      align-self: flex-start;
      width: flex-item-width(2, 2rem);
      margin-bottom: 0;
    }
  }

  &__content {
    @include breakpoint(large) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: flex-item-width(2, 2rem);
    }
  }
}
