.page-header {
  @include make-container;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include breakpoint(large) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
