html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, textarea, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

body {
  background-color: #F4F8FB;
  color: #282923;
  font: 400 1rem/1 Roboto, sans-serif;
}

.page-header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 640px) {
  .page-header {
    max-width: 700px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .page-header {
    max-width: 1200px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.page-header__header {
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 1024px) {
  .page-header__header {
    margin-bottom: 0;
  }
}
.page-header__logo {
  background: url("https://via.placeholder.com/64/282923/F4F8FB/?text=LogoImage") no-repeat;
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  .page-header__logo {
    margin: 0;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  .nav {
    margin: 0;
  }
}
.nav__item {
  display: block;
  width: calc((100% - 2.25rem) / 4);
  text-align: center;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  .nav__item {
    width: auto;
    margin-bottom: 0;
    margin-left: 4rem;
  }
}
.nav__link {
  display: block;
  font-weight: 700;
  font-size: .8rem;
  text-transform: uppercase;
}

.hero {
  height: 15rem;
  background: #282923 url("https://via.placeholder.com/1000x200/282923/F4F8FB/?text=HeroImage") no-repeat center bottom;
}
