// --- Color values --- //

$black:       #282923;
$white:       #FFFFFF;

$light-gray:  #F4F8FB;
$dark-gray:   #ACBAC6;
$darker-gray: #626262;

$blue:        #00A4FF;
$red:         #D2000C;


// --- Base --- //

$page-bg-color:   $light-gray;
$page-text-color: $black;
