// --- Color values --- //

$dark-gray:  #282923;
$light-gray: #F4F8FB;


// --- Base --- //

$bg-color:   $light-gray;
$text-color: $dark-gray;


// --- Hero --- //

$hero-bg-color: $dark-gray;


// --- Box --- //

$box-border-color: $dark-gray;


// --- Button --- //

$button-bg-color:   $dark-gray;
$button-text-color: $light-gray;


// --- Footer --- //

$footer-bg-color:   $dark-gray;
$footer-text-color: $light-gray;


// --- Placeholder image --- //

$placeholder-bg-color:   $dark-gray;
$placeholder-text-color: $light-gray;
