// --- RWD --- //

$breakpoints: (
  small:  0,
  medium: 640px,
  large:  1024px
);


// --- Small screen --- //

$small: (
  right-left-padding: 1.5rem,
);


// --- Medium screen --- //

$medium: (
  max-width:          700px,
  right-left-padding: 1.5rem,
  boxes-per-row:      2
);


// --- Large screen --- //

$large: (
  max-width:          1200px,
  right-left-padding: 1.5rem,
  boxes-per-row:      4
);
